<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
        <%= source_helper("alert alert-warning") %> 
            <div class="row">
                <%= render partial: 'portfolio_item', collection: @portfolio_items %>
            </div>
        </div>
    </div>
</main>