<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>Special Sales</h4>
        <p>Get in touch<em> Awsome projects and ideas are welcome! </em> During this COVID-19 times I am having special prices for making that website that you always wanted!</p>
    </div>
      <%= source_helper("alert alert-info blog-sidebar-source") %> 

    <div class="sidebar-module">
      <h4>Topics</h4> 
      <% @set_sidebar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
    </div>

    <div class="sidebar-module">
        <h4>Elsewhere</h4>
            <ol class="list-unstyled media-links">
                <li><a href="https://github.com/yasmineezequiel"><%=fa_icon "github"%></a></li>
                <li><a href="https://www.linkedin.com/in/yasmine-ezequiel/"><%=fa_icon "linkedin"%></a></li>
            </ol>
    </div>
</div>
