<h1>About Me</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <%= image_tag 'profile_img/Nepal.jpeg', width:"400px" %>
    </div>
    <div class="col-md-6">
        <p> Hello, I'm Yasmine - a Web Developer that decided to jump out of almost a decade working in the B2B industry realizing there was a gap between business expectations and what was delivered by developers. Passionate about technology I've decided to become a Developer myself bringing creativity, problem solving and business experience to the table. 
        <br> 
        I am a Fullstack Web Developer working with Ruby on Rails, React, React Native, Angular, HTML and CSS.
        <br>
        Always open for new ideas!
        </p>
    </div>

</div>
