<h1>About Me</h1>

<p> Hello, I'm Yasmine - a Web Developer that decided to jump out of almost a decade working in the B2B industry realizing there was a gap between business expectations and what was delivered by developers. Passionate about technology I've decided to become a Developer myself bringing creativity, problem solving and business experience to the table. 
<br> 
<p>I have been working for one year as a Web Developer between a Full Stack Web Developer bootcamp internship at KTH Open lab, Junior Full Stack developer job and freelancing. 
<p> Traveller maniac, nature lover and professional scuba diver also assisting in volunteer projects for non-profitable organizations.