<hr>
<div class="row">
    <div class="col-md-12">
        <div class="about-card">
            <%= image_tag 'profile_img/Nepal.jpeg', width:"400px", class: 'profile-img' %>
            <p> Hello, I'm Yasmine - a Web Developer that decided to jump out of almost a decade working in the B2B industry realizing there was a gap between business expectations and what was delivered by developers. Passionate about technology I've decided to become a Developer myself bringing creativity, problem solving and business experience to the table. 
            <br> 
            I am a Fullstack Web Developer working with Ruby on Rails, React, React Native, Angular, HTML and CSS.
            <br>
            My focus is based on a clear communication between the client and the developers team, daily progress client report, project management agile approach. The end result is a satisfied returning client that will also refer us to his/her's network.
            <br>
            </p>
        </div>
    </div>
</div>