<h1>Contact</h1>

<%# cool rails methods of view phone number with a dash, currency in dollars, percentage and delimiter%>
<p><%= number_to_phone "1234455600000" %></p>

<p><%= number_to_currency "12300" %></p>

<p><%= number_to_percentage "123" %></p>

<p><%= number_with_delimiter "1238888" %></p>
