<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This space is devoted to share my developer projects and ideas.</p>
  <i> "People are afraid of changes. I am afraid that things never change."<br>Chico Buarque de Hollanda</i>
  <hr>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>