<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <div class="lead">This space is devoted to share my projects and ideas.
  <br>
  <i> "People are afraid of changes. I am afraid that things never change."<br>Chico Buarque de Hollanda</i></div>
  <hr>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
</main>