<h1>Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<%#  inspect shows everything behing the feature like attributes, classes, etc...%>
<h1>My Skills</h1>
<%= @skills.inspect %>

<hr>
<%= sample_helper %>
